@model Recruit

<h2>Update @Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm("UpdateRecruitToDatabase", "Recruit", "Post"))
{
    <input asp-for="RecruitID" type="hidden" value="@Model.RecruitID" />

    <label asp-for="FirstName" class="control-label">First Name</label>
    <input type="text" name="First Name" class="form-control" value="@Model.FirstName" />

    <label asp-for="LastName" class="control-label">Last Name</label>
    <input type="text" name="Last Name" class="form-control" value="@Model.LastName" />

    <label asp-for="Position" class="control-label">Position</label>
    <input type="text" name="Position" class="form-control" value="@Model.Position" />

    <label asp-for="Citizenship" class="control-label">Citizenship</label>
    <input type="text" name="Citizenship" class="form-control" value="@Model.Citizenship" />

    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
    <input type="text" name="Phone Number class=" form-control" value="@Model.PhoneNumber" />

    <label asp-for="Email" class="control-label">Email</label>
    <input type="text" name="Email" class="form-control" value="@Model.Email" />

    <label asp-for="ClubTeam" class="control-label">Club Team</label>
    <input type="text" name="ClubTeam" class="form-control" value="@Model.ClubTeam" />

    <input type="submit" value="Update Recruit" class="btn btn-primary" />
}

